.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  font-family: "DM Sans", sans-serif;
}

.modalOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.form {
  position: relative;
  background: rgb(255, 244, 244);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: large;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides {
  height: 3.5rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
}

.cardWrapper,
.addButton {
  border-radius: 0.5rem;
  height: 90%;
  width: 5.5rem;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cards {
  padding: 0.5rem;
}

.minusIcon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 2px;
  height: 1.1rem;
  width: 1.1rem;
  z-index: 999;
  transition: all 0.2s ease-in;
}

.minusIcon:hover {
  scale: 1.5;
}

.icons{
  display: none;
}

.inputs {
  position: relative;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.inputs input, textarea, select {
  font-family: "DM Sans", sans-serif;
  font-size: large;
  font-weight: 600;
  width: 70%;
  padding: 0.7rem 1rem;
  border: 3px solid rgb(110, 109, 109);
  box-sizing: border-box;
  resize: none;
  overflow: none;
  background-color: hsl(0deg 0% 94.9%);
}

.buttonContainer {
  display: flex;
  gap: 3rem;
  margin-top: 0.8rem;
}

.warningLabel {
  text-align: center;
  color: red;
  font-size: medium;
}

.buttons {
  letter-spacing: 0.05rem;
  font-size: large;
  text-align: center;
  width: 7rem;
  background: #ff7373;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.8rem #000;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  scale: 1;
  transition: scale 100ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buttons:hover {
  scale: 1.1;
}

.cut {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

@media only screen and (max-width: 768px) {
  .form {
    max-width: 80%;
  }
  .contentContainer {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .slides {
    flex-direction: column;
    height: fit-content;
    width: 15%;
  }
  .inputsContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 95%;
    font-size: smaller;
  }
  .inputs {
    flex-direction: column;
  }
  .inputs input, textarea, select {
    width: 90%;
    padding: 0.7rem 1rem;
    border: 3px solid rgb(110, 109, 109);
    box-sizing: border-box;
    resize: none;
    overflow: none;
  }
  .buttonContainer {
    gap: 0.8rem;
  }
  .buttons {
    padding: 0.4rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons p{
    display: none;
  }
  .icons{
    display: block;
    height: 1.5rem;
  }
}
