.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.form {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: large;
}

.form h2 {
  font-size: larger;
}

.inputs {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.inputs input {
  font-size: large;
  font-weight: 600;
  width: 70%;
  padding: 0.7rem 1rem;
  border: 3px solid rgb(110, 109, 109);
}

.buttons {
  letter-spacing: 0.05rem;
  font-size: large;
  text-align: center;
  width: 10rem;
  background: #ff7373;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.8rem #000;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  scale: 1;
  transition: scale 100ms;
  cursor: pointer;
}

.buttons:hover {
  scale: 1.1;
}

.cut {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.visibility {
  position: absolute;
  right: 1.8rem;
}

@media only screen and (max-width: 480px) {
  .form {
    font-size: small;
    height: 40%;
    justify-content: space-around;
    margin: 0 10%;
  }

  .form h1 {
    font-size: x-large;
  }

  .inputs {
    font-size: medium;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
  }

  .inputs input {
    width: 100%;
    padding: 0.5rem;
  }

  .visibility {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
  }
}
