.bookmark{
  padding:  2rem 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: larger;
  letter-spacing: 0.05rem;
  text-shadow: 0 0 0.8rem #6a6a6a;
}

.empty{
  margin: 2rem;
  background: #73ABFF;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  color: white;
  font-size: large;
  border-radius: 3rem;
  text-shadow: 0 0 0.8rem #0a0a0a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  letter-spacing: 0.05rem;
  font-size: large;
  text-align: center;
  width: 5rem;
  background: #ff7373;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.8rem #000;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  scale: 1;
  transition: scale 100ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h3{
  text-align: center;
}

.links{
  text-decoration: none;
  color: inherit;
}

.bmFeeds{
  margin: 2rem;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {

  .bookmark{
    font-size: medium;
  }

  .storyWrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .empty{
    width: 80%;
  }
  
}
