.feedPanel {
  height: fit-content;
  width: 90%;
  padding: 1rem;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-family: "DM Sans", sans-serif;
}

.story_wrapper {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem , 1fr));
}

.noStories{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  font-size: x-large;
  color: #7b7070;
}

.buttons {
  letter-spacing: 0.05rem;
  font-size: larger;
  text-align: center;
  width: 6rem;
  background: #ff7373;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 0.8rem #000;
  padding: 0.4rem 0.8rem;
  border-radius: 4rem;
  scale: 1;
  transition: scale 100ms;
  cursor: pointer;
}

.buttons:hover {
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  .story_wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .buttons {
    width: 60%; 
  }

  h2{
    text-align: center;
    font-size: x-large;
  }
}